In [86]:
#pip install selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [3]:
driver = webdriver.Chrome('/Users/christakoeyvoets/Downloads/chromedriver')

In [4]:
from bs4 import BeautifulSoup
import requests
from urllib.parse import urlparse
import json
import pandas as pd
from datetime import date
import datetime as datetime

In [5]:
today = date.today() 
year = today.year
day = today.day
month = today.month

In [6]:
tomorrow = date.today() + datetime.timedelta(days=1)
yeartm = tomorrow.year
daytm = tomorrow.day
monthtm = tomorrow.month

In [7]:
year = str(year)
day = str(day)
month = str(month)
yeartm = str(yeartm)
daytm = str(daytm)
monthtm = str(monthtm)

In [8]:
urltime = "https://www.booking.com/searchresults.nl.html?aid=376373&label=Boekings-nl-Nmlwg4ZjCgLYTSLOHsJrjgS267724993818%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9043480%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YfpWGnRw6lOGtdKYocc2a8Y&sid=552e2254bbf42007c1fa7f86a7c26c19&sb=1&sb_lp=1&src=index&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Findex.nl.html%3Faid%3D376373%3Blabel%3DBoekings-nl-Nmlwg4ZjCgLYTSLOHsJrjgS267724993818%253Apl%253Ata%253Ap1%253Ap22.563.000%253Aac%253Aap%253Aneg%253Afi%253Atikwd-65526620%253Alp9043480%253Ali%253Adec%253Adm%253Appccp%253DUmFuZG9tSVYkc2RlIyh9YfpWGnRw6lOGtdKYocc2a8Y%3Bsid%3D552e2254bbf42007c1fa7f86a7c26c19%3Bsb_price_type%3Dtotal%26%3B&ss=Hamburg&is_ski_area=0&ssne=Hamburg&ssne_untouched=Hamburg&dest_id=-1785434&dest_type=city&checkin_year=" + year + "&checkin_month=" + month + "&checkin_monthday=" + day + "&checkout_year=" + yeartm + "&checkout_month=" + monthtm + "&checkout_monthday=" + daytm + "&group_adults=1&group_children=0&no_rooms=1&b_h4u_keep_filters=&from_sf=1"

In [46]:
driver.get(urltime)

In [47]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [70]:
names = []
prices = []

In [71]:
for item in soup.findAll('span', {'class': 'sr-hotel__name'}):
        names.append(item.get_text(strip=True))

In [74]:
for item in soup.findAll('div', {'class':'bui-price-display__value prco-inline-block-maker-helper'}):
    prices.append(item.get_text(strip=True))

In [77]:
for price, name in zip(prices, names):
    print('---')
    print(name)
    print(price)

---
Ruby Lotti Hotel Hamburg
€ 101
---
ibis Hotel Hamburg Alster Centrum
€ 85
---
Lindner Hotel Am Michel
€ 131
---
prizeotel Hamburg-City
€ 67
---
25hours Hotel HafenCity
€ 159
---
Scandic Hamburg Emporio
€ 119
---
Boutique 020 Hamburg City
€ 89
---
IntercityHotel Hamburg Dammtor-Messe
€ 109
---
Ibis Hamburg City
€ 83
---
Hotel Baseler Hof
€ 103
---
Crowne Plaza Hamburg City Centre, an IHG Hotel
€ 109
---
Tortue Hamburg
€ 195
---
Novotel Hamburg City Alster
€ 109
---
a&o Hamburg Hauptbahnhof
€ 14
---
Novotel Suites Hamburg City
€ 99
---
Park Hotel am Berliner Tor
€ 85
---
PIERDREI Hotel HafenCity Hamburg
€ 125
---
NH Hamburg Altona
€ 97
---
Leonardo Hotel Hamburg City Nord
€ 79
---
Novum Hotel Ambassador
€ 52
---
Leonardo Hotel Hamburg Elbbrücken
€ 74
---
Novum Hotel Graf Moltke Hamburg
€ 57
---
Best Western Plaza Hotel Hamburg
€ 67
---
Park Hotel Hamburg Arena
€ 69
---
Leonardo Hotel Hamburg Airport
€ 74

In [78]:
rows = []

for price, name in zip(prices, names):
    row = {}
    print('---')
    #print(name.text)
    #print(price.text)
    row['Hotel'] = name
    row['Price'] = price
    print(row)
    rows.append(row)

---
{'Hotel': 'Ruby Lotti Hotel Hamburg', 'Price': '€\xa0101'}
---
{'Hotel': 'ibis Hotel Hamburg Alster Centrum', 'Price': '€\xa085'}
---
{'Hotel': 'Lindner Hotel Am Michel', 'Price': '€\xa0131'}
---
{'Hotel': 'prizeotel Hamburg-City', 'Price': '€\xa067'}
---
{'Hotel': '25hours Hotel HafenCity', 'Price': '€\xa0159'}
---
{'Hotel': 'Scandic Hamburg Emporio', 'Price': '€\xa0119'}
---
{'Hotel': 'Boutique 020 Hamburg City', 'Price': '€\xa089'}
---
{'Hotel': 'IntercityHotel Hamburg Dammtor-Messe', 'Price': '€\xa0109'}
---
{'Hotel': 'Ibis Hamburg City', 'Price': '€\xa083'}
---
{'Hotel': 'Hotel Baseler Hof', 'Price': '€\xa0103'}
---
{'Hotel': 'Crowne Plaza Hamburg City Centre, an IHG Hotel', 'Price': '€\xa0109'}
---
{'Hotel': 'Tortue Hamburg', 'Price': '€\xa0195'}
---
{'Hotel': 'Novotel Hamburg City Alster', 'Price': '€\xa0109'}
---
{'Hotel': 'a&o Hamburg Hauptbahnhof', 'Price': '€\xa014'}
---
{'Hotel': 'Novotel Suites Hamburg City', 'Price': '€\xa099'}
---
{'Hotel': 'Park Hotel am Berliner Tor', 'Price': '€\xa085'}
---
{'Hotel': 'PIERDREI Hotel HafenCity Hamburg', 'Price': '€\xa0125'}
---
{'Hotel': 'NH Hamburg Altona', 'Price': '€\xa097'}
---
{'Hotel': 'Leonardo Hotel Hamburg City Nord', 'Price': '€\xa079'}
---
{'Hotel': 'Novum Hotel Ambassador', 'Price': '€\xa052'}
---
{'Hotel': 'Leonardo Hotel Hamburg Elbbrücken', 'Price': '€\xa074'}
---
{'Hotel': 'Novum Hotel Graf Moltke Hamburg', 'Price': '€\xa057'}
---
{'Hotel': 'Best Western Plaza Hotel Hamburg', 'Price': '€\xa067'}
---
{'Hotel': 'Park Hotel Hamburg Arena', 'Price': '€\xa069'}
---
{'Hotel': 'Leonardo Hotel Hamburg Airport', 'Price': '€\xa074'}

In [79]:
df = pd.DataFrame(rows)
df

                                             Hotel  Price
0                         Ruby Lotti Hotel Hamburg  € 101
1                ibis Hotel Hamburg Alster Centrum   € 85
2                          Lindner Hotel Am Michel  € 131
3                           prizeotel Hamburg-City   € 67
4                          25hours Hotel HafenCity  € 159
5                          Scandic Hamburg Emporio  € 119
6                        Boutique 020 Hamburg City   € 89
7             IntercityHotel Hamburg Dammtor-Messe  € 109
8                                Ibis Hamburg City   € 83
9                                Hotel Baseler Hof  € 103
10  Crowne Plaza Hamburg City Centre, an IHG Hotel  € 109
11                                  Tortue Hamburg  € 195
12                     Novotel Hamburg City Alster  € 109
13                        a&o Hamburg Hauptbahnhof   € 14
14                     Novotel Suites Hamburg City   € 99
15                      Park Hotel am Berliner Tor   € 85
16                PIERDREI Hotel HafenCity Hamburg  € 125
17                               NH Hamburg Altona   € 97
18                Leonardo Hotel Hamburg City Nord   € 79
19                          Novum Hotel Ambassador   € 52
20               Leonardo Hotel Hamburg Elbbrücken   € 74
21                 Novum Hotel Graf Moltke Hamburg   € 57
22                Best Western Plaza Hotel Hamburg   € 67
23                        Park Hotel Hamburg Arena   € 69
24                  Leonardo Hotel Hamburg Airport   € 74

In [81]:
df['Date']=today

In [85]:
with open("hamburghotelprices.csv", 'a') as f:
    df.to_csv(f, header=f.tell()==0)